<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Formulaire</title>
</head>
<body>
<div class="corps">

    <section>

        <h1>Insérer un acteur :</h1>

            <div class="formulaire">

                <form action="addActeur" method="post">
                    <input type="text" name="anom" value="" placeholder="Nom" required>
                    <input type="text" name="aprenom" value="" placeholder="Prenom" required>
                    <input type="text" name="aphoto" value="" placeholder="Url photo">
                    <input type="submit" value="Insérer">
                </form> 

            </div>

    </section>

</div>
</body>
</html>