<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Real</title>
</head>
<body>
    <div class="corps">
        <div class ="affichage">
        <h1> 
            <%= real.rnom %>
            <%= real.rprenom %> 
        </h1>
        <img src="<%= real.rphoto %>">
        </div>
    </div>
</body>
</html>